bitcoinlib==0.6.2
Flask==2.0.2
flask_babel==2.0.0
flask_qrcode==3.0.0
flask_restful==0.3.9
flask_wtf==1.0.0
Werkzeug==2.0.2
WTForms==3.0.0
gunicorn==20.1.0
Flask-Limiter==2.0.2
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
