{% if input %}
    <table class="pure-table" style="width: 800px; font-size: 80%;">
        <thead>
            <tr>
                <td colspan="5">
                    {% if input.witness_type == 'segwit' %}
                        {{ _('Witnesses') }}
                    {% else %}
                        {{ _('Unlocking Script') }}
                    {% endif %}
                </td>
            </tr>
        </thead>
        {% if input.script %}
        <tr>
            <td>Script Type</td>
            <td>
                {{ input.script.script_types|join(', ') }}
            </td>
        </tr>
            {% if input.script.script_types[0] == 'p2sh_multisig' %}
            <tr>
                <td>Description</td>
                <td>Multisig {{ input.signatures|length }} of {{ input.keys|length }}</td>
            </tr>
            {% endif %}
        <tr>
            <td>Unlocking Script Hex</td>
            <td style="word-break: break-all;">
                <a href="{{ url_for('main.script', network=network, script_hex=input.script.raw.hex()) }}">
                    {{ input.script.raw.hex() }}</a>
            </td>
        </tr>
        <tr>
            <td>Unlocking Script OP</td>
            <td style="word-break: break-all;">{{ input.script }}</td>
        </tr>
            {% if input.script.hash_type %}
            <tr>
                <td>Hash Type</td>
                <td>{{ '%0x' % input.script.hash_type }}</td>
            </tr>
            {% endif %}
        {% endif %}

        {% if input.witness_type == 'segwit' %}
        {% for witness in input.witnesses %}
        {% if witness.hex() != '00' %}
        <tr>
            <td>Witness</td>
            <td style="word-break: break-all;">{{ witness.hex() }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% for key in input.keys %}
        <tr>
            <td>Key</td>
            <td style="word-break: break-all;">
                <a href="{{ url_for('main.key', network=network, key=key.hex(), witness_type=key.witness_type) }}">
                {{ key.hex() }}</a>
        </td>
        </tr>
        {% endfor %}
        {% for sig in input.signatures %}
        <tr>
            <td>Signature</td>
            <td style="word-break: break-all;">
                <a href="{{ url_for('main.signature', network=network, signature=sig.hex()) }}">
                {{ sig.hex() }}
                </a>
            </td>
        </tr>
        {% endfor %}

        {% if input.prev_txid.hex() == '0' * 64 %}
        <tr>
            <td>Witness Type</td>
            <td>Coinbase, newly generated coins</td>
        </tr>
        {% endif %}
    </table>

{% endif %}
