<table class="pure-table blocksmurfer-table-sf">
    <thead>
    <tr>
        <td style="border-left: 0;">
            <a href="{{ url_for('main.transaction', network=network, txid=t.txid) }}">{{ t.txid }}</a>
        </td>
        <td style="border-left: 0;">
            {% if t.date %}
                {{ t.date.replace(tzinfo=tzutc).timestamp() | ctime }}
            {% endif %}
        </td>
        <td style="border-left: 0;">
            {% if t.confirmations %}
                {{ t.confirmations }} confirmation{% if t.confirmations > 1 %}s{% endif %}
            {% else %}
                {{ _('Unconfirmed')}}
            {% endif %}
        </td>
    </tr>
    </thead>
</table>
<table class="pure-table blocksmurfer-table-sf">
    <tbody>
    {% for inp in t.inputs[:5] %}
    <tr>
        <td>in</td>
        <td>
            {% if inp.address %}
                <a href="{{ url_for('main.address', network=network, address=inp.address) }}">{{ inp.address }}</a>
            {% elif t.coinbase %}
                {{ _('Coinbase, newly generated coins') }}
            {% else %}
                {% if inp.prev_txid %}
                    <a href="{{ url_for('main.transaction_output', network=network, txid=inp.prev_txid.hex(),
                                    output_n=inp.output_n_int) }}">
                        {{ inp.prev_txid.hex() }}:{{ inp.output_n_int }}
                    </a>
                {% endif %}
            {% endif %}
        </td>
        <td class="blocksmurfer-td-value">{{ "{:,.8f}".format(inp.value / 100000000) }}</td>
        <td>
            {% if inp.prev_txid %}
                <a href="{{ url_for('main.transaction', network=network, txid=inp.prev_txid.hex()) }}">
                    <i class="fa fa-arrow-left"></i>
                </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% if t.inputs|length > 5 %}
    <tr>
        <td>in</td>
        <td>
            ...truncated, look at full
            <a href="{{ url_for('main.transaction', network=network, txid=t.txid) }}">transaction</a>
            for all {{ t.inputs|length }} inputs
        </td>
        <td class="blocksmurfer-td-value">{{ "{:,.8f}".format(t.inputs[5:]|sum(attribute='value') / 100000000) }}</td>
        <td></td>
    </tr>
    {% endif %}
    {% for out in t.outputs[:5] %}
    <tr>
        <td>out</td>
        <td>
            {% if out.address %}
            <a href="{{ url_for('main.address', network=network, address=out.address) }}">{{ out.address }}</a></td>
            {% else %}
                Nulldata: {{ out.lock_script[2:].decode(errors='ignore') }}
            {% endif %}
        <td class="blocksmurfer-td-value">{{ "{:,.8f}".format(out.value / 100000000) }}</td>
        <td>
            {% if out.spent %}
                {% if out.spending_txid %}
                    <a href="{{ url_for('main.transaction', network=network, txid=out.spending_txid) }}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                {% else %}
                    Spent
                {% endif %}
            {% elif out.address and out.spent == False %}
                Unspent
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% if t.outputs|length > 5 %}
    <tr>
        <td>out</td>
        <td>
            ...truncated, look at full
            <a href="{{ url_for('main.transaction', network=network, txid=t.txid) }}">transaction</a>
            for all {{ t.outputs|length }} outputs
        </td>
        <td class="blocksmurfer-td-value">{{ "{:,.8f}".format(t.outputs[5:]|sum(attribute='value') / 100000000) }}</td>
        <td></td>
    </tr>
    {% endif %}
    </tbody>
    {% if t.balance_change is defined %}
    <tfoot>
    <tr>
        <td colspan="2">{{ _('Balance change') }}</td>
        <td class="blocksmurfer-td-value">{{ "{:,.8f}".format(t.balance_change / 100000000) }}</td>
        <td></td>
    </tr>
    </tfoot>
    {% endif %}
</table>
