{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _('Details') }}</h2>
    <table style="width: 800px;">
    <tr>
        <td>
            <table class="pure-table" style="width: 550px;">
            <tr>
                <td>Address</td>
                <td>{{ address.address }}</td>
            </tr>
            <tr>
                <td>Network</td>
                <td>{{ address.network.name }}</td>
            </tr>
            <tr>
                <td>Hashed data</td>
                <td>{{ address.hashed_data }}</td>
            </tr>
            <tr>
                <td>Script type</td>
                <td>{{ address.script_type }}</td>
            </tr>
            <tr>
                <td>Witness type</td>
                <td>
                    {% if address.witness_type is none %}
                        {{ _('Irreducible') }}
                    {% else %}
                        {{ address.witness_type }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Encoding</td>
                <td>{{ address.encoding }}</td>
            </tr>
            {% if address.compressed is not none %}
            <tr>
                <td>Compressed?</td>
                <td>{{ address.compressed }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Balance</td>
                <td>{{ "{:,.8f}".format(balance / 100000000) }}</td>
            </tr>
            {% if address_info.n_txs is not none %}
            <tr>
                <td>Transactions</td>
                <td>{{ address_info.n_txs }}</td>
            </tr>
            {% endif %}
            {% if address_info.n_utxos is not none %}
            <tr>
                <td>Unspent Outputs</td>
                <td>{{ address_info.n_utxos }}</td>
            </tr>
            {% endif %}
            {% if config.ENABLE_API %}
            <tr>
            <td>API</td>
                <td>
                    <a href="{{ url_for('api.transactions', network=network, address=address.address,
                                        after_txid=after_txid, limit=limit) }}">txs</a>,
                    <a href="{{ url_for('api.utxos', network=network, address=address.address) }}">utxos</a>
                    <a href="{{ url_for('api.address_balance', network=network, address=address.address) }}">balance</a>
                </td>
            </tr>
            {% endif %}
        </table>
        </td>
        <td>
            <img src="{{ qrcode(address.address, box_size=7, border=2, fill_color='#090947') }}">
        </td>
    </tr>
    </table>
    <h2>{{ _('Transactions') }}</h2>
    {% if not transactions %}
    <p>{{ _('No transactions found') }}</p>
    {% endif %}
    {% for t in transactions %}
        {% include 'explorer/_transaction_item.html' %}
        <p></p>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <a href="{{ prev_url or '#' }}" class="pure-button {% if not prev_url %} pure-button-disabled{% endif %}">
                <i class="fa fa-arrow-left"></i> {{ _('First transactions') }}
            </a>
            <a href="{{ next_url or '#' }}" class="pure-button {% if not next_url %} pure-button-disabled{% endif %}">
                {{ _('Next transactions') }} <i class="fa fa-arrow-right"></i>
            </a>
        </ul>
    </nav>

{% endblock %}
