{% extends "base.html" %}

{% block app_content %}
    <div style="text-align: center;">
    <p>
        Enter the hexadecimal {{ network|upper() }} script to decompose. This will parse the script and show data,
        opcode commands and extracts keys and signatures if available.
    </p>
    <form action="" method="post" novalidate class="pure-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.script_hex(rows="8", cols="100") }}
        </p>
        <p>{{ form.submit(class_="pure-button pure-button-primary") }}</p>
    </form>
    </div>

{% endblock %}
