{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _('Details') }}</h2>
    <table class="pure-table blocksmurfer-table">
        <tr>
            <td>Signature HEX</td>
            <td>
                {{ sig.hex() }}
            </td>
        </tr>
        <tr>
            <td>Signature DER</td>
            <td>
                {{ sig.as_der_encoded().hex() }}
            </td>
        </tr>
        <tr>
            <td>r value</td>
            <td>
                {{ sig.r }}
            </td>
        </tr>
        <tr>
            <td>s value</td>
            <td>
                {{ sig.s }}
            </td>
        </tr>
        {% if sig.hash_type %}
        <tr>
            <td>Hash Type</td>
            <td>{{ '%0x' % sig.hash_type }}</td>
        </tr>
        {% endif %}
            <tr>
            <td>Hash Type</td>
            <td><a href="{{ url_for('main.sighash_flag', network=network, flag=sig.hash_type) }}">
                SIGHASH_{{ definitions.SIGHASH_FLAGS[sig.hash_type][0] }}</a> ({{ '%02x' % sig.hash_type }})
            </td>
        </tr>
    </table>

{% endblock %}
