{% extends "base.html" %}

{% block app_content %}
    {% if not transactions %}
        <p>{{ _('No transactions found') }}</p>
    {% elif block %}
        <p>List of transactions from last block on the Blockchain with height
            <a href="{{ url_for('main.block', network=network, blockid=block.height) }}">
                {{ block.height }}</a>. Block contains {{ total_txs }} transactions.
        </p>
        <p>
            You can also view the latest unconfirmed transactions from the
            <a href="{{ url_for('main.transactions', network=network, show_mempool=True) }}">mempool</a>.
        </p>
    {% else %}
        <p>
            Latest unconfirmed transaction from the mempool. Total mempool size is {{ total_txs }} transactions.
        </p>
        <p>
            You can also view confirmed transactions from the
            <a href="{{ url_for('main.transactions', network=network, blockid='last') }}">latest block</a>.
        </p>
    {% endif %}

    {% for t in transactions %}
        {% include 'includes/transaction_item.html' %}
        <p></p>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <a href="{{ prev_url or '#' }}" class="pure-button {% if not prev_url %} pure-button-disabled{% endif %}">
                <i class="fa fa-arrow-left"></i> {{ _('Newest transactions') }}
            </a>
            <a href="{{ next_url or '#' }}" class="pure-button {% if not next_url %} pure-button-disabled{% endif %}">
                {{ _('Next transactions') }} <i class="fa fa-arrow-right"></i>
            </a>
        </ul>
    </nav>

    <p>Showing page {{ page }} of {{ (total_txs // limit) + 1 }}</p>

    <p>&nbsp;</p>

    <h2>{{ _('Search Transactions') }}</h2>
    <form action="" method="post" novalidate class="pure-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.search(size=64, class="pure-input") }}
        </p>
        <p>{{ form.submit(class_="pure-button") }}</p>
    </form>

    <p>&nbsp;</p>

    <p>To send or decompose a raw transaction select one of the options below.</p>
    <p>
        <a href="{{ url_for('main.transaction_broadcast', network=network) }}" class="pure-button">
            {{ _("Send Transaction") }}</a>
        <a href="{{ url_for('main.transaction_decompose', network=network) }}" class="pure-button">
            {{ _("Decompose Transaction") }}</a>
    </p>

{% endblock %}
