{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _('Details') }}</h2>
    <table class="pure-table blocksmurfer-table">
        <tr>
            <td>ID</td>
            <td>
                <span id="copy-txid">{{ transaction.txid }}</span>
                <a class="blocksmurfer-fa-link" title="copy-txid" onclick="copyContent(this.title);">
                    <i class="fa fa-clone"></i></a>
            </td>
        </tr>
        <tr>
            <td>Network</td>
            <td>{{ transaction.network.name }}</td>
        </tr>
        <tr>
            <td>Block</td>
            <td>
                {% if transaction.block_height and transaction.block_height|int > 0 %}
                    <a href ="{{ url_for('main.block', network=network, blockid=transaction.block_height) }}">
                        {{ transaction.block_height }}
                    </a>
                {% else %}
                    {{ _('mempool') }}
                {% endif %}
            </td>
        </tr>
        {% if transaction.date %}
        <tr>
            <td>Date</td>
            <td>
                {{ transaction.date.replace(tzinfo=tzutc).timestamp() | ctime }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Status</td>
            <td>{{ transaction.status }}</td>
        </tr>
        <tr>
            <td>Confirmations</td>
            <td>
                {% if transaction.confirmations %}
                    {{ transaction.confirmations }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ transaction.witness_type }}</td>
        </tr>
        <tr>
            <td>Coinbase</td>
            <td>{{ transaction.coinbase }}</td>
        </tr>
        {% if transaction.input_total != None %}
        <tr>
            <td>Total Input</td>
            <td>
                {{ "{:,.8f}".format(transaction.input_total / 100000000) }} {{ transaction.network.currency_code }}
            </td>
        </tr>
        {% endif %}
        {% if transaction.output_total != None %}
        <tr>
            <td>Total Output</td>
            <td>
                {{ "{:,.8f}".format(transaction.output_total / 100000000) }} {{ transaction.network.currency_code }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Size{% if transaction.vsize %} (VSize){% endif %}</td>
            <td>{{ transaction.size }}{% if transaction.vsize %} ({{ transaction.vsize }}){% endif %}</td>
        </tr>
        {% if transaction.fee != None %}
        <tr>
            <td>Fee</td>
            <td>
                {{  "{:,.8f}".format(transaction.fee / 100000000) }} {{ transaction.network.currency_code }}
                &middot; {{ transaction.fee }} satoshi
            </td>
        </tr>
        <tr>
            <td>Fee / Byte</td>
            <td>
                {% if transaction.vsize and transaction.fee %}
                    {{ (transaction.fee / transaction.vsize)|round(1) }} sat/vB
                {% elif transaction.size and transaction.fee %}
                    {{ (transaction.fee / transaction.size)|round(1) }} sat/B
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Version</td>
            <td>{{ transaction.version_int }}</td>
        </tr>
        <tr>
            <td>Locktime</td>
            <td>{{ transaction.locktime }}</td>
        </tr>
        <tr>
            <td>Raw</td>
            <td>
                <abbr title="{{ transaction.raw_hex() }}" id="copy-raw-tx">
                    {{ transaction.raw_hex() | truncate(55) }}
                </abbr>
                <a class="blocksmurfer-fa-link" title="copy-raw-tx" onclick="copyContentTitle(this.title);">
                    <i class="fa fa-clone"></i></a>
            </td>
        </tr>
        {% if config.ENABLE_API %}
        <tr>
            <td>API</td>
            <td>
                <a href="{{ url_for('api.transaction', network=network, txid=transaction.txid) }}">tx</a>,
                <a href="{{ url_for('api.transaction', network=network, txid=transaction.txid, raw=True) }}">raw</a>
            </td>
        </tr>
        {% endif %}
    </table>
    <p></p>
    <table class="pure-table blocksmurfer-table-sf">
        <thead>
            <tr>
                <td colspan="5">{{ _('Inputs') }}</td>
            </tr>
        </thead>
        {% for inp in transaction.inputs %}
        <tbody>
        <tr>
            <td>
                <a href="{{ url_for('main.transaction_input', network=network, txid=transaction.txid,
                                    index_n=inp.index_n) }}">
                    {{ inp.index_n }}
                </a>
            </td>
            <td>
                {% if inp.address %}
                    <a href="{{ url_for('main.address', network=network, address=inp.address) }}">{{ inp.address }}</a>
                {% elif transaction.coinbase %}
                    {{ _('Coinbase, newly generated coins') }}
                {% else %}
                    <a href="{{ url_for('main.transaction_output', network=network, txid=inp.prev_txid.hex(),
                                    output_n=inp.output_n_int) }}">
                        {{ inp.prev_txid.hex() }}:{{ inp.output_n_int }}
                    </a>
                {% endif %}
            </td>
            <td class="blocksmurfer-td-value">{{ "{:,.8f}".format(inp.value / 100000000) }}</td>
            <td>{{ inp.script_type }}</td>
            <td>
                {% if not transaction.coinbase %}
                    <a href="{{ url_for('main.transaction', network=network, txid=inp.prev_txid.hex()) }}">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p>
    <table class="pure-table blocksmurfer-table-sf">
        <thead>
            <tr>
                <td colspan="5">{{ _('Outputs') }}</td>
            </tr>
        </thead>
        <tbody>
        {% for out in transaction.outputs %}
        <tr>
            <td>
                <a href="{{ url_for('main.transaction_output', network=network, txid=transaction.txid,
                                    output_n=out.output_n) }}">
                    {{ out.output_n }}
                </a>
            </td>
            <td>
                {% if out.address %}
                <a href="{{ url_for('main.address', network=network, address=out.address) }}">{{ out.address }}</a>
                {% else %}
                    Nulldata: {{ out.lock_script[2:].decode(errors='ignore') }}
                {% endif %}
            </td>
            <td class="blocksmurfer-td-value">{{ "{:,.8f}".format(out.value / 100000000) }}</td>
            <td>{{ out.script_type }}</td>
            <td>
                {% if out.spent %}
                    {% if out.spending_txid %}
                        <a href="{{ url_for('main.transaction', network=network, txid=out.spending_txid) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    {% else %}
                        Spent
                    {% endif %}
                {% elif out.address and out.spent == False %}
                    Unspent
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
