{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _('Details') }}</h2>
    <table class="pure-table blocksmurfer-table-sf">
        <tr>
            <td style="width:110px">TXID</td>
            <td>
                <a href="{{ url_for('main.transaction', network=network, txid=transaction.txid) }}">
                    {{ transaction.txid }}
                </a>
            </td>
        </tr>
        <tr>
            <td>Output #</td>
            <td>{{ output_n }}</td>
        </tr>
        <tr>
            <td>Network</td>
            <td>{{ output.network.name }}</td>
        </tr>
        <tr>
            <td>Value</td>
            <td>{{ "{:,.8f}".format(output.value / 100000000) }}</td>
        </tr>
        <tr>
            <td>Witness Type</td>
            <td>{{ output.witness_type }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td><a href="{{ url_for('main.address', network=network, address=output.address) }}">{{ output.address }}</a></td>
        </tr>
        <tr>
            <td>Encoding</td>
            <td>{{ output.encoding }}</td>
        </tr>
        <tr>
            <td>Public Hash</td>
            <td>{{ output.public_hash.hex() }}</td>
        </tr>
        <tr>
            <td>Spent</td>
            <td>
            {% if output.spent %}
                {% if output.spending_txid %}
                    <a href="{{ url_for('main.transaction', network=network, txid=output.spending_txid) }}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                {% else %}
                    Spent
                {% endif %}
            {% elif output.address and output.spent == False %}
                Unspent
            {% endif %}
            </td>
        </tr>
    </table>

    <p></p>

    <table class="pure-table blocksmurfer-table-sf">
        <thead>
            <tr>
                <td colspan="5">{{ _('Locking Script') }}</td>
            </tr>
        </thead>
        <tr>
            <td>Script Type</td>
            <td>{{ output.script.script_types|join(', ') }}</td>
        </tr>
        {% if output.script.signatures|length > 1 %}
        <tr>
            <td>Signatures</td>
            <td>
                {{ output.script.sigs_required }} of {{ output.script.signatures|length }}
                signatures required
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Locking Script Hex</td>
            <td>
                <a href="{{ url_for('main.script', network=network, script_hex=output.script.raw.hex()) }}">
                    {{ output.script.raw.hex() }}</a>
            </td>
        </tr>
        <tr>
            <td>Locking Script OP</td>
            <td>
                {% for s_item in output.script.view(blueprint=True, as_list=True) %}
                    {% if s_item.startswith('OP_') %}
                        <a href="{{ url_for('main.op_code', network=network, op_code=s_item.lower()) }}">
                            {{ s_item }}</a>
                    {% else %}
                        {{ s_item }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if output.script.script_types == ['nulldata'] %}
        <tr>
            <td>Nulldata</td>
            <td>{{ output.script.commands[1].decode(errors='ignore') }}</td>
        </tr>
        {% endif %}
    </table>

{% endblock %}
