{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _('Details') }}</h2>
    <table class="pure-table blocksmurfer-table-sf">
        <tr>
            <td style="width: 110px;">TXID</td>
            <td>
                <a href="{{ url_for('main.transaction', network=network, txid=transaction.txid) }}">
                    {{ transaction.txid }}
                </a>
            </td>
        </tr>
        <tr>
            <td>Input Index #</td>
            <td>{{ index_n }}</td>
        </tr>
        <tr>
            <td>Network</td>
            <td>{{ input.network.name }}</td>
        </tr>
        <tr>
            <td>Value</td>
            <td>{{ "{:,.8f}".format(input.value / 100000000) }}</td>
        </tr>
        <tr>
            <td>Witness Type</td>
            <td>{{ input.witness_type }}</td>
        </tr>
        <tr>
            <td>Sequence</td>
            <td>{{ input.sequence }}</td>
        </tr>
        <tr>
            <td>Previous TXID</td>
            <td>
            {% if input.prev_txid.hex() == '0' * 64 %}
                {{ input.prev_txid.hex() }}
            {% else %}
                <a href="{{ url_for('main.transaction', network=network, txid=input.prev_txid.hex()) }}">
                    {{ input.prev_txid.hex() }}
                </a>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>Previous Output #</td>
            <td>{{ input.output_n_int }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td><a href="{{ url_for('main.address', network=network, address=input.address) }}">{{ input.address }}</a></td>
        </tr>
        <tr>
            <td>Encoding</td>
            <td>{{ input.encoding }}</td>
        </tr>
        <tr>
            <td>Public Hash</td>
            <td>{{ input.public_hash.hex() }}</td>
        </tr>
        <tr>
            <td>Public {% if input.keys|length > 1 %}Keys{% else %} Key{% endif %}</td>
            <td>
                {% for key in input.keys %}
                    <p><a href="{{ url_for('main.key', network=network, key=key) }}">{{ key }}</a></p>
                {% endfor %}
            </td>
        </tr>
    </table>

    <p></p>
    {% include 'includes/input_unlocking_script.html' %}


{% endblock %}
