{% extends "base.html" %}

{% block app_content %}
    <h2>Blocksmurfer</h2>
    <p>The Blocksmurfer explorer is created by Coineva using Flask and Python Bitcoinlib. It can be used to search
        and analyse blocks, transactions, addresses scripts and utxo's on the {{ network_name }} blockchain.
        You can easily run it from a local server using the
        <a href="https://github.com/1200wd/blocksmurfer">Blocksmurfer source code</a> from
        github.</p>

    <p>Currently the
        {% for nw in config.NETWORKS_ENABLED.values() %}
            {{ nw|capitalize }}{% if loop.index == loop.length - 1 %} and{% elif not loop.last %}, {% endif %}
        {% endfor %} networks are supported.</p>

    <h2>Providers</h2>

    <p>Just like Bitcoinlib it retrieves blockchain data from a <a href="https://github.com/bcoin-org/bcoin/blob/master/docs/README.md">Bcoin</a> node
        a Bitcoin Core node or various online Blockchain service providers.</p>

    <p>For this website the following <a href="{{ url_for('main.providers', network=network) }}">providers</a>
    are used for the {{ network_name }} network:

    {% for provider in providers %}
        {{ provider[0] -}}
        {% if loop.index == loop.length - 1 %} and
        {% elif not loop.last %}, {% endif %}
    {% endfor -%}.</p>

    <p>To avoid too many request to external service providers the local providers Bcoin and Bitcoind are
    used whenever possible. Also transaction, block and address data are cached in a local SQLite or PostgreSQL
        database.</p>

    <h2>Bitcoinlib</h2>
    <p>Python <a href="https://github.com/1200wd/bitcoinlib">Bitcoinlib</a> is an open source bitcoin and other
    cryptocurrency library. You can use it to create and manage wallets, keys, transactions and interact with
    the blockchain through various service providers.</p>

    <p>The current installed version of Bitcoinlib is {{ bitcoinlib_version }}.</p>

    <p>Amsterdam, July 2024<br />
    <a href="mailto:explorer@blocksmurfer.io">explorer@blocksmurfer.io</a><br />

    <a href="https://blocksmurfer.io">Blocksmurfer</a> (Coineva)</p>

{% endblock %}
