<!doctype html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Search for transactions, blocks, addresses and unspent transaction
        outputs on the Bitcoin blockchain. Analyse scripts, keys and other technical nerdy details.">
        {% endblock meta %}
        <title>
            {% if title %}{{ title }}: {% endif %}
            {% if subtitle %}{{ subtitle }}{% endif %}
            - Blocksmurfer
        </title>
        {% block styles %}
            <link rel="stylesheet" href="{{url_for('static', filename='pure-min.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='side-menu.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/fontawesome.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/solid.css')}}">
        {% endblock styles%}
        <link rel="manifest" href="/static/manifest.json">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.png" type="image/png">
        <link rel="icon" sizes="16x16" href="/static/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="/static/favicon-32x32.png" type="image/png">
        <link rel="icon" sizes="192x192" href="/static/android-chrome-192x192.png" type="image/png">
        <link rel="icon" sizes="512x512" href="/static/android-chrome-512x512.png" type="image/png">
        <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    {% endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}>
{% block body %}
{% block nav %}
<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="{{ url_for('main.index') }}">Blocksmurfer</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item menu-item-divided{% if title=='Explorer' %} pure-menu-selected{% endif %}">
                    <a href="{{ url_for('main.index') }}" class="pure-menu-link">Explorer</a>
                </li>
                <li class="pure-menu-item{% if title=='Blocks' %} pure-menu-selected{% endif %}">
                    <a href="{{ url_for('main.blocks', network='btc') }}" class="pure-menu-link">Blocks</a>
                </li>
                <li class="pure-menu-item{% if title=='Transactions' %} pure-menu-selected{% endif %}">
                    <a href="{{ url_for('main.transactions', network='btc') }}" class="pure-menu-link">Transactions</a>
                </li>
                <li class="pure-menu-item{% if title=='API' %} pure-menu-selected{% endif %}">
                    <a href="{{ url_for('main.api') }}" class="pure-menu-link">API</a>
                </li>
                <li class="pure-menu-item{% if title=='About' %} pure-menu-selected{% endif %}">
                    <a href="{{ url_for('main.about') }}" class="pure-menu-link">About</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock nav %}

{% block content %}
    <div id="main">
        <div class="header">
            {% if title %}<h1>{{ title }}</h1>{% endif %}
            {% if subtitle %}<h2 style="word-break: break-all;">{{ subtitle }}</h2>{% endif %}
        </div>
        <div class="content">
            <aside class="aside-notice">
                <p>This is a test release, please use with caution and report problems on
                    <a href="https://github.com/1200wd/blocksmurfer">Blocksmurfer Github</a> or
                    explorer@blocksmurfer.io. Thanks for using / testing!</p>
            </aside>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <aside class="aside-error">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </aside>
            {% endif %}
            {% endwith %}
            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>
    </div>
{% endblock content %}
</div>

{% endblock body %}
</body>
</html>