{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _('Search the Bitcoin Blockchain') }}</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.search.label }}<br>
            {{ form.search(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p style="font-size:80%">Some suggestions:
    <a href="{{ url_for('main.search', search_string='bc1qxfrgfhs49d7dtcfzlhp7f7cwsp8zpp60hywp0f') }}">
        bc1qxfrgfhs49d7dtcfzlhp7f7cwsp8zpp60hywp0f</a>,
    <a href="{{ url_for('main.search', search_string='3EkQ11eacyfodKBRha9aJ8KTPsnSVTvSz8') }}">
        3EkQ11eacyfodKBRha9aJ8KTPsnSVTvSz8</a>,
    <a href="{{ url_for('main.search', search_string='1HLoD9E4SDFFPDiYfNYnkBLQ85Y51J3Zb1') }}">
        1HLoD9E4SDFFPDiYfNYnkBLQ85Y51J3Zb1</a>,
    <a href="{{ url_for('main.search',
        search_string='258478e8b7a3b78301661e78b4f93a792af878b545442498065ab272eaacf035') }}">
        258478e8b7a3b78301661e78b4f93a792af878b545442498065ab272eaacf035</a>,
    <a href="{{ url_for('main.search',
        search_string='xpub661MyMwAqRbcGpWkuXwKRMAnJUnwBBSFo3KpormL4ti5m5i7q8D7Rih8fvCAHWXhCA3aF3KvGWw4PZtqc9ymsSrkCLbC9Xgeqao6t5eWbrD') }}">
        xpub661MyMwAqRbcGpWkuXwKRMAnJUnwBBSFo3KpormL4ti5m5i7q8D7Rih8fvCAHWXhCA3aF3KvGWw4PZtqc9ymsSrkCLbC9Xgeqao6t5eWbrD
    </a>
    <a href="{{ url_for('main.search',
        search_string='420024') }}">
        420024
    </a></p>
    <p style="font-size:80%">Last block:
    <a href ="{{ url_for('main.block', network=network, blockid=blockcount) }}">
        {{ blockcount }}
    </a></p>
    </p>


{% endblock %}
