{% extends "base.html" %}

{% block app_content %}
    <h2>Providers</h2>
    <p>The following service providers are used by the Blocksmurfer explorer. The providers in top of the list
    with the highest priority are queried first. If a method is not available or the API query was unsuccessful
    the next provider in the list is used.</p>
    <p>For details about the providers and methods used check out the Python code at
        <a href="https://github.com/1200wd/bitcoinlib/tree/master/bitcoinlib/services">Github</a>.</p>
    <table class="pure-table" style="width: 800px; font-size: 80%">
    <thead>
        <tr>
            <th>Provider</th>
            <th>url</th>
            <th>priority</th>
        </tr>
    </thead>
    {% for provider in providers %}
    <tr>
        <td>{{ provider[0] }}</td>
        <td>{{ provider[1]['url'] }}</td>
        <td>{{ provider[1]['priority'] }}</td>
    </tr>

    {% endfor %}
    </table>

{% endblock %}
